input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}
label{
    font-size: 15px;
    color: gray;
}
.submit-button{
    background-color: var(--primary-color);
    color: white;
}
.checkout_cart{
    padding: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}
.checkout_cart a{
    text-decoration: none;
}
.checkout_cart h6, h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout_cart h6{
    margin-bottom: 20px;
}
.checkout_cart h4{
    border-top: 1px solid rgba(221, 221, 221, 0.253);
    padding-top: 20px;
}
#close-cart{
    position: relative;
    top: 1rem;
    right: 0.8rem;
    color: rgb(165, 235, 235);
    font-size: 2rem;
    cursor: pointer;
}